/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }




body{
    width:900px;
    height: auto;

    

}
header, footer{
    position: relative;

    border:1px solid #000;
    background-color: skyblue;
    justify-content: center;
}
.text{
    align-content: center;
}
.media{
    position: relative;
    width: 100px;
}
nav ul li {
    display:inline;
    position: relative;
    align-content:center;
    margin-left:120px;
    margin-bottom: 5px;
    padding:10px ;
    font-size: large;
    font-weight: bold;
    background-color: azure;
    text-decoration-line: none;



}
li a:hover {
    background-color: lightgrey;
    
}
main{
    padding: 2rem;
    background-color: gray;
}
.task li{
    display: block;
}
.weather{
    border: 1px solid #000;
    grid-column: 1;
}
.temple{
    border:1px solid #000;
}
.forecast{
    border:1px solid #000;

}
.call{
    padding: 5px;
    background-color: yellow;
}
.submenu{
    display:none;
}
ul li a.submenu{
    display: block;
    background-color: ;
}

/*----------reservations-------------------*/
form{
    background-color: gray;
}
.detail{
    display: block;

}
.suite{
    display: block;
}
.submitBtn{
    background-color:yellow;
}